{% extends 'base.html' %}

{% load static %}


{% block title_block %}
All My Posts
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'aviBlog/postfeed.css' %}">
    <link rel= "stylesheet" href="{% static "aviBlog/post.css" %}"> 
{% endblock  %}

{% block body_block%}

<section id="all-posts">
    <h2>My Collected Posts</h2>
    <ul>
        {% for post in all_posts %}
        {% include 'aviBlog/includes/post.html' %}<br><br>
        {% endfor %}
        
    </ul>
</section>
     
{% endblock %}
